<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <script src="/js/chatScript.js" defer></script>
    <title>ChatApp | My Chats</title>
</head>

<body>
    <%- include("components/header.ejs") %>
        <main class=" px-6 py-4 flex-1  max-h-[calc(100dvh-135px)] overflow-clip grid grid-cols-[24rem_1fr]">
            <aside
                class="scrollbar max-h-[calc(100dvh-170px)] overflow-auto border-r-2 border-secondary pr-2 space-y-3">
                <!-- chats -->
                <% for(let i=0; i < conversations.length; i++) {%>
                    <div class="flex w-full gap-2 border-b-2 border-secondary p-2 cursor-pointer hover:bg-white/10 transition-colors"
                        click="getConversation(<%= conversations[i].conversationId %>)">
                        <img class="rounded-2xl w-12 aspect-square border border-primary" src=<%=conversations[i].avatar
                            %> alt=<%= conversations[i].username.slice(0,2) %>>
                            <div class="chat-info flex-1">

                                <h3>
                                    <%= conversations[i].username %>
                                </h3>
                                <div class="flex justify-between items-baseline">
                                    <span class="text-sm">
                                        <%= conversations[i].lastMessage.content %>
                                    </span>
                                    <span class="text-xs text-gray-400">
                                        <%= conversations[i].lastMessage.sentAt.toLocaleString('en-US', {
                                            hour: 'numeric' ,minute: 'numeric' , hour12: true }) %>
                                    </span>
                                </div>
                            </div>
                    </div>
                    <%} %>
            </aside>
            <main class=" px-4 flex flex-col max-h-full h-full">
                <section id="chat-area" class="flex-1 grid">
                    <span class="place-self-center text-foreground/50"> Please select a chat to start</span>
                </section>
                <footer>
                    <form class="flex gap-3">
                        <textarea rows="1" type="text" name="message" id="message"
                            placeholder="Type your message"></textarea>
                        <button type="submit"
                            class="bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary/90 transition-colors">Send</button>
                    </form>
                </footer>
            </main>
        </main>
        <%- include("components/footer.ejs") %>
</body>

</html>